<div class='container-home row'>
    <div class='col-xs-4'>
        <%= render '/components/user_profile', :user =>  current_user %>
    </div>
    <div class='col-xs-8'>
        <%= render '/components/post_form' %>
        <% for @p in @posts %>
        <div class='panel panel-default post-panel' id='post_<%= @p.id %>'>
            <div class='panel-body row'>
                <div class='col-sm-1'>
                    <img src='/avatar.png' height='50px' width='50px'></img>
                </div>
                <div class='col-sm-11'>
                    <p class='post-title'><span class='post-owner'><%= User.find(@p.user_id).username %></span><span class='post-creation'> - <%= @p.created_at.to_formatted_s(:short) %></span></p>
                    <p class='post-content'><%= @p.content %></p>
                </div>
                <div class='col-sm-12'>
                    <p class='post-links'>
                        <a href='javascript:void(0)' id='link_comments_<%= @p.id %>' onclick='toggleComments(<%= @p.id %>)'>View conversation</a>                        
                    </p>
                </div>            
            </div>
        </div>
        <div id='comments_<%= @p.id %>' style='display:none'>
            <% @p.comments.each do |comment| %>
            <div class= 'panel panel-default comment-panel'>
                <div class='panel-body row'>
                    <div class='col-sm-1'>
                        <img src='/avatar.png' height='50px' width='50px'></img>
                    </div>
                    <div class='col-sm-11'>
                        <p class='post-title'><span class='post-owner'><%= User.find(comment.user_id).username %></span><span class='post-creation'> - <%= comment.created_at.to_formatted_s(:short) %></span></p>
                        <p class='post-content'><%= comment.content %></p>
                    </div>                 
                </div>
            </div>
            <% end %>

            <%= form_for([@p, @p.comments.build], :html => { :class => 'panel panel-default new-comment-panel'})  do |f| %>
            <div class="field form-group">
                <%= f.text_area :content, class: 'form-control', id: 'txa_' + @p.id.to_s %>
            </div>
            <%= hidden_field_tag(:url, request.original_url + '#post_' + @p.id.to_s) %>    
            <%= f.submit "Submit", class: 'btn btn-success margin-bottom-10' %>
            <span class='characters-left' id='txa_<%= @p.id %>_char_left'>140</span>   
            <% end %>
        </div>
        <% end %>
    </div>
</div>