<!DOCTYPE html>
<html>
  <head>
    <title>ECSeminar02</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>

    <% if params[:id] != nil %>
      <% @url = '/user/' + params[:id] %>
      <% if current_page? @url %>
        <div class='row panel stat-bar'>
          <div class='col-sm-12' style='background-color:white'>
            <div class='container'>
              <div class='col-sm-3'>
                <div class='row'>
                    <div class='col-sm-2'>
                        <img src='/avatar.png' height='50px' width='50px'>
                    </div>
                    <div class='col-sm-10'>
                        <h3 style='font-weight: bold;margin-top:10px;text-align:center'><%= current_user.username%></h3>
                    </div>                   
                </div>
              </div>
              <div class='col-sm-6'>
                <div class='col-sm-2 stat-title'>POSTS<br>
                  <h6 class='stat-value'>16</h6>
                </div>
                <div class='col-sm-2 stat-title'>FOLLOWING<br>
                  <h6 class='stat-value'>16</h6>
                </div>
                <div class='col-sm-2 stat-title'>FOLLOWERS<br>
                  <h6 class='stat-value'>16</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
